a {
  color: red;
}
a:hover{ 
  color:green;
}
body{
  display: flex;
  flex-direction: column;
}
main{
  display: flex;
  align-items: stretch;
  align-content:space-around
}
aside{
  display: flex;
  align-items: stretch;
  flex: 1;
}
article{
  display: flex;
  align-items: stretch;
  align-content: space-around 
  flex: 3;
}
header{
  display: flex;
  justify-content: center;
}
footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

