a {
  color: red;
}
a:hover{ 
  color:green;
}
body{
  display: flex;
  flex-direction: column;
}
main{
  display: flex;
  flex: auto;
  justify-content: center;
  flex: 4;
}
aside{
  display: flex;
  flex: 1;
}
article{
  display: flex;
  flex: 3;
}
header{
  display: flex;
  justify-content: center;
  flex: 1;
}
footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

