a {
  color: red;
}
a:hover{ 
  color:green;
}
header{
  display: flex;
}
body{
  display: flex;
  flex-direction: column;
}
main{
  display: flex;
  flex: auto;
}
aside{
  display: flex;
  flex: 1;
}
article{
  display: flex;
  flex: 3;
}
footer{
  display: flex;
  align-items: flex-end;
}

